
h1{
  text-align: center;
  font-size: 4 rem;
  color: goldenrod;
  margin-top: 20px;
  display: block;
  text-align: center;
    
}
h2{
    color:#8C5A3C;
    font-weight: bold;
    font-size: 3rem;

}
h3{
    color:#313E17;
    font-weight: bold;
    font-size: 2rem;
}

#contact{
    color:#1B0C0C;
    font-size: 1.2rem;
    color: #8C5A3C;

    
}

p{
    color: #1B0C0C;
    font-size: 1.5rem;
    line-height: 1.6;


}
li{
    font-size: 18pt;

}


img{
    border:5px solid black;
    border-radius: 12px;

}
body{
            background-color: #C7EABB;
            margin: 30px;
}
table,th,td{
    border: 1px solid black;
    padding: 20px;
    border-collapse: collapse;
}
td:hover{
    color: #8C5A3C;
}
#button{
    background-color:#C7EABB;
    width:auto
}


@media (max-width: 768px){
    h1{
        font-size: 2rem;

    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.3rem;
    }

    p{
        font-size: 1rem;
    }

    table{
        font-size: 0.8rem;
    }

    
}
